*{
    padding: 0;
    margin: 0;
}

/*Grosor de para las letras del texto; normal o negrilla (bold)*/
h1{
    font: bold 20px verdana, sans-serif;
}
/*Grosor de letra, tipo de letra */
h4{
    font: bold 18px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

body{
    text-align: center;
    
    background-image: url(../assets/fondo.jpg);
}

/*Caja principal*/
.agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    border: 1px solid #000;
}

.cabecera{
    background: white;
    border: 1px black;
    padding: 20px;
}

.menu{
    background:white;
    padding: 5px 15px;
}

.menu ul a{
    /*Colocar horizontal el menu*/
    text-decoration: none;
    display: inline;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
/*Definir botones en la lista de nav*/
.menu ul a:hover{
    /*color de fondo*/
    background-color: white;
    /*Color de letras del nav*/
    color: black;
    /*Manito sobre la lista de nav*/
    cursor: pointer;
    /*Borde inferior de cada entrada*/
    border-bottom: 2px blue;
}

/*Ajustes a la caja de section*/
.seccion{
    float: left;
    width: 660px;
    margin: 20px;
    background-color: #71058026;
}
/**Belleza de section (letras)*/
.seccion{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:15px;
}

.seccion article p{
    color: black;
}


.columna{
    /*Ajuste de caja aside*/
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: rgba(182, 45, 141, 0.76);

    /*Belleza letras*/
    font-family: tahoma;
    color: rgb(0, 0, 0);
}

.pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000;
    background: rgba(241, 73, 12, 0.589);
}

article{
    background: rgba(209, 76, 202, 0.863);
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 15px;;
}

article footer{
    text-align: right;
}

time{
    color: rgb(78, 4, 4);
}
